\:host
  display: block

section,
main
  padding-top: 8px
  padding-bottom: 8px

\:host > section,
main
  padding-left: 100px
  padding-right: 100px

section.controls
  padding-bottom: 0

  button
    margin-bottom: 8px

section.controls,
section.new-message,
mat-cell.mat-column-actions
  button:not(:last-of-type)
    margin-right: 8px

section.new-message

  form mat-form-field
    display: block

main
  padding-bottom: 64px

  mat-form-field.filter
    display: block

  div.table
    overflow: auto

    mat-table
      min-width: 800px

      mat-header-cell,
      mat-cell
        &
          padding-right: 8px

        &:not(:first-of-type)
          padding-left: 8px

      .mat-column-actions
        justify-content: center

  p.description
    font-size: 20px
    font-weight: 300
    text-align: center

@media (min-width: 640px)

  section.controls
    display: flex
    justify-content: flex-end
    flex-wrap: wrap

  section.new-message
    form#message-form
      display: flex
      flex-wrap: wrap

      mat-form-field
        display: inline-block
        margin-bottom: 8px

      mat-form-field:nth-child(even)
        margin-left: 16px

      mat-form-field,
      &:after
        flex: 0 0 calc(50% - 16px)

      &::after
        order: 1
        content: ""
        height: 0

@media (min-width: 800px)

  section.new-message

    form#message-form

      mat-form-field
        &:nth-child(even)
          margin-left: unset

        &:nth-child(3n + 2),
        &:nth-child(3n + 3)
          margin-left: 16px

      mat-form-field,
      &:before,
      &:after
        flex: 0 0 calc(33% - 2 / 3 * 16px)

      &::before
        order: 1
        content: ""
        height: 0

@media (min-width: 1000px)

  section.new-message

    form#message-form
      margin-right: 25%
